.why-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    & > .container{
        margin-top: 80px;
        width: 100%;

        @media screen and (max-width: 1400px) {
            flex-direction: column;
          }
    }

    
        & img:not(.section__header-img){
            width: 8em;

            position: absolute;
            transform: translate(-50%, -70%) scale(0.95);
            z-index: 3;
        }

        & img.round-img--correct{
            transform: translate(-50%, -70%) scale(0.75);
        }
    }
    

    

.card{
    width: 370px;
    height: 310px;
    padding: 0 10px;
    
    border-radius: 10px;
    background-color: #ffffff;
    border: 4px solid #f64d01;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

        @include extra{
            width: 290px;
            height: 400px;
        }

        @media screen and (max-width: 1400px) {
            width: 100%;
            height: 250px;

            &:not(:first-child){
                margin-top: 100px;
            }
          }

          @include super{
              height: 300px;
          }

          @include small{
              height: 370px;
          }

        &.round-img--correct{
            border-color: #61bd1f;

            & .round-img--container{
                border-color: #61bd1f;
            }
        }


}

.round-img--container{
    width: 8em;
    height: 4em;
    border: 4px solid #f64d01;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

    position: absolute;
    z-index: 1;


    &::after{
        content: '';

        width: 8em;
        height: 8em;

        background-color: #fff;
        border-radius: 50%;

        position: absolute;
        transform: translate(-50%, -56%) scale(0.95);
        z-index: 2;
    }
}


.card__header{
    margin-top: 80px;

    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
}


.card__text{
    margin-top: 15px;

    font-size: 18px;
    line-height: 26px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
}

.why-us__bottom{
    margin-top: 30px;
    width: 100%;
    height: 60px;

    font-size: 27px;
    line-height: 27px;
    color: #000000;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;

    border: 4px solid transparent;
    border-image: linear-gradient(to right, #f64d01 0%, #61bd1f 100%);
    border-radius: 10px;
    border-image-slice: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include extra{
        height: 100px;
    }

    @include super{
        height: 150px;
    }

    @include medium{
        height: 180px;
    }
}

